ul, li {
  list-style: none;
}

.form-spinner {
  position: relative!important;
  top: 50%;
  left: 50%;
}

.form-alert {
  position: relative;
  top: 50%;
  left: 50%;
}

.ant-pagination {
  display: flex;
  justify-content: center;
}